/* line 4, C:/Users/katsu/Desktop/pict/app/assets/stylesheets/home.scss */
body {
  color: darkgray;
  font-size: 18pt;
  margin: 10px 20px;
}

/* line 10, C:/Users/katsu/Desktop/pict/app/assets/stylesheets/home.scss */
h1 {
  color: darkgray;
  font-size: 32pt;
  margin: 50px 0px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

  /* エラーメッセージ */
 /*  .alert-notice {
    color: #3c763d;
    background-color: #dff0d8;
  }
  .alert-alert {
    background-color: #f2dede;
    color: #a94442;
  } */
