<p><%= @email %></p>

<p>様仮登録していただきありがとうございます。</p>

<p>現在仮登録の状態ですので下記のURLから本登録お願いいたします</p>

<p>-------------------------------------------------------------------------</p>

<p><%=  confirmation_url(@resource, confirmation_token: @token) %></p>

<p>-------------------------------------------------------------------------</p>
