<p>パスワードを忘れた方へ</p>

<p>以下のURLからパスワードの再設定を行ってください</p>

<p>-------------------------------------------------</p><br><br>
<p><%= edit_password_url(@resource, reset_password_token: @token) %></p>
<p>-------------------------------------------------</p>

<p>本メールにお心当たりのない方、その他ご不明点・ご質問などございましたらお問い合わせくださいませ</p>
